body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; */
  background-color: rgb(6, 6, 42);
}

.container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 100%;
  margin: 40px;
}

.ContainerText {
  width: 100%;
  padding-left: 250px;
  color: rgb(0, 170, 255);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(45px, auto);
  border: 0;
  gap: 1px;
  background-color: rgb(216, 216, 216);
}

button {
  border: 0;
  font-size: 12px;
  font-weight: 600;
}

.displayContainer {
  width: 50%;
  padding-right: 250px;
}

.display {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  background-color: grey;
  border: 0;
  color: #fff;
  cursor: default;
  text-align: right;
}

.operator {
  background-color: rgb(246, 171, 59);
}

.spanTwo {
  grid-column: span 2;
}
